h3{
  background-color: black;
  color: white;
  font-size: 2.7em;
}
div{
  background-color: lightgrey;
  border: 5px;
  border-radius: 25px;
  padding: 50px;
  margin: 20px;
  float: left;
  width: 200px;
  height:150px;
}
#loanButton{
  background-color: #33ff33;
  border-radius: 5px;
  border-width: 1px;
  border-color: lightgray;
  width: 150px;
}
#bankButton{
  background-color: yellow;
  border-radius: 5px;
  border-width: 1px;
  border-color: lightgray;
  width: 120px;
}
#workButton{
  background-color: blue;
  border-radius: 5px;
  border-width: 1px;
  border-color: lightgray;
  width: 120px;
}
#infoSection{
   width: 880px;
  height:150px;
}
#buy-button{
  background-color: #66e0ff;
  border-radius: 5px;
  border-width: 1px;
  width: 200px;
  position: absolute;
  right: 280px;
 
}